<%= form_for post do |f| %>

<div id="file" class="form-group font-awesome">
  <% if post.image_id.present? %>
    <%= image_tag attachment_url(post, :image), class: 'post-image' %>
  <% else %>
    <%= image_tag 'gray.jpg' ,id:"image", class: 'post-image' %>
  <% end %>
  <!-- <i class="fa fa-camera"></i> -->
  <br>
  <label>
    <input type="file" name="file" class="js-upload-file">ファイルを選択
  </label>
  <div class="js-upload-filename">ファイルが未選択です</div>
  <div class="fileclear js-upload-fileclear">選択ファイルをクリア</div>
</div>
<%= f.attachment_field :image %>

<div class="form-group">
  <%= f.label :title, 'タイトル' %>
  <%= f.text_field :title, class: 'form-control' ,placeholder: "（例）簡単！きゅうりの梅和え" %>
</div>

<div class="form-group">
  <%= f.label :matarial, '材料' %>
  <%= f.text_area :matarial,rows: 10, class: 'form-control', placeholder: matarial_placeholder %>
</div>

<div class="form-group">
  <%= f.label :body, '作り方' %>
  <%= f.text_area :body,rows: 10, class: 'form-control', placeholder: body_placeholder %>
</div>

<div class="form-group">
  <%= f.label :comment, '投稿者コメント' %>
  <%= f.text_area :comment, rows: 10, class: 'form-control', placeholder: text_placeholder %>
</div>
<%= f.submit '送信' , class: 'btn btn-success' %>
<% end %>
