<div class="show-container">
  <div class="container">
  <h1 class="margin"><%= @post.title %></h1>
  <div class="col-md-8">
    <% if @post.image_id.present? %>
      <%= image_tag attachment_url(@post, :image, :fill, 300, 300, format: "jpg") %>
    <% else %>
      <%= image_tag 'kanpai',style: 'height:400px' %>
    <% end %>
    <p class="margin">【材料】<%= simple_format @post.matarial %></p>
    <p class="margin">【作り方】<%= simple_format @post.body %></p>
    <p class="margin">【投稿者コメント】<%= simple_format @post.comment %></p>
    <p class="margin">【投稿日】<%= @post.created_at.strftime("%Y年%m月%d日 %H時%M分") %></p>
    <!-- <p>【いいねしたユーザー】</p> <% @post.liked_users.each do |user| %> <li><%= user.name %></li> <% end %> -->
    <div class="btn-area">
      <%# ログインユーザーかつ、ログインしているユーザーと投稿者の名前が同じ場合のみ編集・削除を表示 %>
        <% if user_signed_in? && current_user.id == @post.user_id %>
          <%= link_to '編集' , edit_post_path(@post) , class: 'btn btn-primary' %>
          <%= link_to '削除' , post_path(@post) ,method: :delete , data: {confirm: '削除してもよろしいですか？'}, class: 'btn btn-danger' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
